*.png
*.svg
*.mp4
*.webm
*.jpg
*.pyc
*.txt
*.bmp
*.json
*.asy
*.pdf
*.html
*.spec
*.cache
*.env
*.xml
*.pkl
*.mp3
projects/authbruteforce/SecLists-master
projects/face/data/
projects/face/dataset.py
spell_env/
tools/infinitecraft/selenium
tools/infinitecraft/seleniumexploit
tools/infinitecraft/seleniumexploitdb
tools/infinitecraft/selneiumexploit
tools/infinitecraft/seleniumexploit3
tools/infinitecraft/seleniumexploitdbhl
remoteHomeserver/
tools/moreore/moreore/
tools/albiononline/
__pycache__/
.vscode/
build/
disct/
node_modules/
swebsite/

projects/infinitecraft/nealfun.js
projects/infinitecraft/seleniumexploit/
selenium/First Run
.gitignore
tools/leagueoflegends/lcu/yarn.lock
tools/leagueoflegends/lol/riftexplorer/yarn.lock
tools/leagueoflegends/lolapi/puuidfinder.py
tools/legendofcodemagic/codemagic/cardlist.csv
tools/legendofcodemagic/codemagic/cardratings.csv
tools/overwatch/owrankscraping/Untitled-1.coffee
tools/spotify/spoti.py
tools/youtube/ytapi/ytscraper.py
projects/authbruteforce/reqbrute.py
projects/discordaivoicebot/outpute.mp3
