*.png
*.mp4
*.webm
*.jpg
*.pyc
*.txt
*.bmp
*.json
*.asy
*.pdf
*.html
*.spec
*.cache
*.env
projects/face/data/
projects/face/dataset.py
spell_env/
projects/infinitecraft/selenium
remoteHomeserver/
tools/moreore/moreore/
__pycache__/
.vscode/
build/
disct/

